<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= '/public/stylesheets/style.css' %>">
    <title>P2-2025</title>
</head>
<body>
    <div id="cont">
        <h1>Hola mundo</h1>
        <div class="info">
          <h3>Mi nombre es:</h3>
          <h4>Julio Cesar Cetrangolo Garcia</h4>
        </div>
        <div class="info">
          <h3>Mi número de cédula:</h3>
          <h4>V-29.846.200</h4>
        </div>
        <div class="info">
          <h3>Y pertenezco a la sección...</h3>
          <h4>4</h4>
        </div>
      </div>
</body>
</html>