<section id="contacto" class="contact">
    <div class="container">
        <h2>Contáctanos</h2>
        <div class="contact-content">
            <div class="contact-info">
                <div class="social-links">
                    <a href="https://www.facebook.com/profile.php?id=61575330340889"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/aquaclean_7/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <form class="contact-form">
                <div class="form-group">
                    <input type="text" placeholder="Nombre" required>
                </div>
                <div class="form-group">
                    <input type="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="tel" placeholder="Teléfono">
                </div>
                <div class="form-group">
                    <textarea placeholder="Mensaje" required></textarea>
                </div>
                <button type="submit" class="btn">Enviar Mensaje</button>
            </form>
        </div>
    </div>
</section>