<section id="galeria" class="gallery">
    <div class="container">
        <h2>Nuestro Trabajo</h2>
        <div class="gallery-grid">
            <div class="gallery-item">
                <img src="https://s1.eestatic.com/2022/07/14/como/687691935_225819252_1706x960.jpg" alt="Piscina limpia">
            </div>
            <div class="gallery-item">
                <img src="https://img.freepik.com/fotos-premium/piscina-fondo-hd-8k-fondo-pantalla-imagen-archivo-fotografico_853645-23371.jpg" alt="Técnico midiendo químicos">
            </div>
            <div class="gallery-item">
                <img src="https://arkpad.com.br/wp-content/uploads/2020/04/area-de-lazer-com-piscina-31.jpg" alt="Spa reluciente">
            </div>
            <div class="gallery-item">
                <img src="https://www.limpapiscinas.com.br/wp-content/uploads/2020/10/Tratamento-de-Piscina-em-Moema.jpg" alt="Equipo de limpieza">
            </div>
        </div>
    </div>
</section>